
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
   
</head>
<body>
    <div id="container">
        <button class="btn btn-primary" type="submit" id="ContinueTrans">Proceed To Payment</button>
    </div>
</body>
</html>*

