
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FCMB: Flash Money - Welcome</title>

    <link rel="shortcut icon" href="~/assets/img/png/fav-icon.png" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/components/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/components/loadawesome/loaders.css" />
    <link rel="stylesheet" href="~/assets/components/animate/animate.css" />
    <link rel="stylesheet" href="~/assets/css/style.min.css" />

</head>

<body class="page">
    <header class="animated fadeInDown fast">
        <div class="container">
            <a href="/" class="logo">
                <img src="~/assets/img/svg/logo-full.svg" class="desktop-logo" />
                <img src="~/assets/img/svg/logo-icon.svg" class="mobile-logo" />
            </a>
            <nav class="links">
                <ul>
                    <li><a asp-action="FAQ" asp-controller="Home">F.A.Qs</a></li>
                    <li>
                        <a href="https://www.fcmb.com/personal-contact-us-page" target="_blank">
                            <i class="icon">
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.4164 6.03232L7.85703 6.60601C7.40452 7.05851 7.12453 7.43601 7.12453 8.37351H5.87452V8.06101C5.87452 7.37101 6.15452 6.74601 6.60702 6.29351L7.3839 5.50726C7.60952 5.28101 7.74953 4.96853 7.74953 4.62354C7.74953 3.93354 7.19015 3.37354 6.49953 3.37354C5.80953 3.37354 5.24951 3.93354 5.24951 4.62354H3.99951C3.99951 3.24292 5.1189 2.12354 6.49953 2.12354C7.88077 2.12354 8.99953 3.24292 8.99953 4.62354C8.99953 5.17354 8.77703 5.67164 8.4164 6.03232ZM7.12453 10.8735H5.87452V9.62351H7.12453V10.8735ZM6.49953 0.248535C3.04765 0.248535 0.249512 3.04665 0.249512 6.49851C0.249512 9.95101 3.04765 12.7485 6.49953 12.7485C9.95203 12.7485 12.7495 9.95101 12.7495 6.49851C12.7495 3.04665 9.95203 0.248535 6.49953 0.248535Z"
                                          fill="white" />
                                </svg>
                            </i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main home">
        <!-- ****************** -->
        <!-- Introduction -->
        <section class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="intro-info">
                            <h1 class="text-gradient" data-aos="fade-up" data-aos-delay="100">Introducing Flash Money</h1>
                            <p data-aos="fade-up" data-aos-delay="300">
                                Send money to anyone, anywhere in Nigeria using their phone number only.
                            </p>
                            <hr data-aos="fade-up" data-aos-delay="500" />
                            <a href="#" class="btn btn-link" data-aos="fade-up" data-aos-delay="500">
                                <span>Create an account or Login to Get Started</span>
                                <i class="icon sm">
                                    <svg width="24" height="21" viewBox="0 0 24 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M14.39 20.66L24 11L14.39 1.33996C14.3032 1.22599 14.1929 1.13199 14.0667 1.06434C13.9404 0.996684 13.8011 0.956951 13.6581 0.94783C13.5151 0.938708 13.3719 0.96041 13.238 1.01147C13.1042 1.06252 12.9828 1.14174 12.8823 1.24376C12.7817 1.34578 12.7042 1.46822 12.6551 1.60278C12.6059 1.73735 12.5863 1.8809 12.5975 2.02372C12.6086 2.16654 12.6503 2.3053 12.7198 2.4306C12.7892 2.55589 12.8848 2.66481 13 2.74996L20.19 9.99996L1.06 9.99996C0.794783 9.99996 0.54043 10.1053 0.352893 10.2929C0.165357 10.4804 0.059999 10.7347 0.059999 11C0.059999 11.2652 0.165357 11.5195 0.352893 11.7071C0.54043 11.8946 0.794782 12 1.06 12L20.19 12L13 19.25C12.813 19.4383 12.7085 19.6931 12.7094 19.9585C12.7104 20.2239 12.8167 20.478 13.005 20.665C13.1933 20.8519 13.4482 20.9565 13.7135 20.9555C13.9789 20.9546 14.233 20.8483 14.42 20.66L14.39 20.66Z"
                                              fill="#5D2684" />
                                    </svg>
                                </i>
                            </a>

                            <a class="btn btn-round scroll-btn animated fadeInDown delay-1s">
                                <i class="icon sm">
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.16676 0.333436L7.83343 0.333436L7.83343 10.3421L12.4211 5.75444L13.5996 6.93294L7.00009 13.5325L0.400595 6.93294L1.57909 5.75444L6.16676 10.3421L6.16676 0.333436Z"
                                              fill="#2F1343" />
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ****************** -->
        <!-- Authentication -->
        <section class="auth m-content-wrap">
            <div class="card form-card animated fadeInUp delay-3">
                <!-- Loading  -->
                <div class="form-section loading">
                    <div class="la-ball-pulse">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                @RenderBody()

            </div>
        </section>

        <!-- ****************** -->
        <!-- Information & How To -->
        <section class="info">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-8">
                        <div class="why-info">
                            <h2 data-aos="fade-up" data-aos-delay="100">Why Flash Money?</h2>
                            <p data-aos="fade-up" data-aos-delay="200">
                                Flash money helps you make simple transfer to people all over the country with just their phone numbers.
                                Whether they have a bank account or not this transfer is possible.
                            </p>
                            <p data-aos="fade-up" data-aos-delay="300">
                                Also, Flash money makes it possible to pay bills and buy airtime with just a flsh from your mobile
                                phone.
                            </p>
                            <a class="btn btn-link" href="#" data-aos="fade-up" data-aos-delay="500">
                                <span>Learn more</span>
                                <i class="icon auto">
                                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.44043 7.93951L3.87995 4.50001L0.44043 1.0605L1.50093 0L6.00095 4.50001L1.50093 9.00001L0.44043 7.93951Z"
                                              fill="#5D2684" />
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-8 m-no-pad">
                        <div class="benefit-info">
                            <h3 data-aos="fade-up" data-aos-delay="200">Our Benefits</h3>
                            <div class="m-scroll-wrap">
                                <div class="benefit-list">
                                    <div class="item" data-aos="fade-up" data-aos-delay="400">
                                        <img src="~/assets/img/svg/benefit-transfer.svg">
                                        <h4>Simple Flash Transfer</h4>
                                        <p>Send money to your beneficiary</p>
                                    </div>
                                    <div class="item" data-aos="fade-up" data-aos-delay="500">
                                        <img src="~/assets/img/svg/benefit-bills.svg">
                                        <h4>Pay Bills</h4>
                                        <p>Pay your electricity bills and other subscriptions. </p>
                                    </div>
                                    <div class="item" data-aos="fade-up" data-aos-delay="600">
                                        <img src="~/assets/img/svg/benefit-cashback.svg">
                                        <h4>Reclaim Funds</h4>
                                        <p>Retrieve funds after 7 days if reciever doesn’t claim it.</p>
                                    </div>
                                    <div class="item" data-aos="fade-up" data-aos-delay="700">
                                        <img src="~/assets/img/svg/benefit-automate.svg">
                                        <h4>Buy Airtime</h4>
                                        <p>Top up your phone and buy data subscriptions.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-4">
                        <div class="how-info">
                            <h3 class="text-gradient" data-aos="fade-up" data-aos-delay="200">How it Works</h3>

                            <div class="how-list">
                                <div class="card border-yellow" data-aos="fade-up" data-aos-delay="400">
                                    <i class="icon auto">
                                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.1"
                                                  d="M35.236 3V48H26.1154V14.4545C26.1154 13.7273 26.1381 13.1591 26.1834 12.75C24.5499 14.25 22.7803 15.5227 20.8745 16.5682C19.014 17.6136 17.1309 18.3182 15.2252 18.6818L14 10.7727C16.0873 10.5455 18.583 9.61364 21.487 7.97727C24.4365 6.29546 26.4784 4.63636 27.6128 3H35.236Z"
                                                  fill="#2F1343" />
                                        </svg>
                                    </i>
                                    <div>
                                        <h4>Create an account</h4>
                                        <p>Sign up to create an account and flash money to anyone any where in the country </p>
                                    </div>
                                </div>
                                <div class="card border-green" data-aos="fade-up" data-aos-delay="600">
                                    <i class="icon auto">
                                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.1"
                                                  d="M9.40445 41.6866C14.7993 38.0597 19.0795 34.8806 22.2451 32.1493C25.4107 29.4179 27.7069 26.8881 29.1336 24.5597C30.5604 22.2313 31.2737 19.9254 31.2737 17.6418C31.2737 15.5373 30.6272 13.8358 29.3343 12.5373C28.0859 11.2388 26.347 10.5896 24.1177 10.5896C21.6655 10.5896 19.726 11.4403 18.2993 13.1418C16.8726 14.8433 16.0923 17.2612 15.9585 20.3955L8 17.3731C8.3121 12.8955 9.96177 9.38059 12.949 6.82836C15.9363 4.27612 19.8375 3 24.6528 3C28.0859 3 30.9839 3.64925 33.347 4.94776C35.7546 6.24627 37.5603 7.97015 38.7641 10.1194C39.9679 12.2239 40.5699 14.5522 40.5699 17.1045C40.5699 21.2687 39.0094 25.209 35.8884 28.9254C32.7674 32.597 27.7961 36.5373 20.9744 40.7463V40.8134C23.5604 40.6343 26.2578 40.5448 29.0667 40.5448H41.2386V48H9.40445V41.6866Z"
                                                  fill="#2F1343" />
                                        </svg>
                                    </i>
                                    <div>
                                        <h4>Fund your wallet</h4>
                                        <p>Add funds to your wallet using the credit cards option.</p>
                                    </div>
                                </div>
                                <div class="card border-purple" data-aos="fade-up" data-aos-delay="800">
                                    <i class="icon auto">
                                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.1"
                                                  d="M26.0633 3C30.7552 3 34.4069 4.10294 37.0184 6.30882C39.6742 8.5147 41.002 11.3824 41.002 14.9118C41.002 17.0735 40.5594 18.9485 39.6742 20.5368C38.7889 22.0809 37.7045 23.25 36.4208 24.0441C35.1372 24.8382 33.92 25.2353 32.7692 25.2353V25.4338C34.2298 25.4338 35.6462 25.8088 37.0184 26.5588C38.4348 27.3088 39.5856 28.4559 40.4709 30C41.4004 31.5 41.8652 33.3309 41.8652 35.4926C41.8652 37.9191 41.157 40.0809 39.7406 41.9779C38.3684 43.875 36.443 45.3529 33.9643 46.4118C31.4855 47.4706 28.6527 48 25.4658 48C21.1723 48 17.6534 47.1397 14.9091 45.4191C12.2091 43.6544 10.2394 40.9412 9 37.2794L17.2993 33.5735C17.7862 36 18.6714 37.7868 19.9551 38.9338C21.2829 40.0809 23.142 40.6544 25.5322 40.6544C27.7896 40.6544 29.5822 40.1029 30.9101 39C32.238 37.8529 32.9019 36.3309 32.9019 34.4338C32.9019 32.4044 32.2601 30.9485 30.9765 30.0662C29.7371 29.1397 27.7675 28.6765 25.0674 28.6765H22.8764V22.3235H24.7354C29.5158 22.3235 31.906 20.3162 31.906 16.3015C31.906 14.3603 31.3527 12.8824 30.2462 11.8676C29.1839 10.8529 27.6568 10.3456 25.665 10.3456C23.6289 10.3456 21.9911 10.875 20.7518 11.9338C19.5124 12.9926 18.7378 14.5368 18.428 16.5662L10.2615 13.5882C11.1025 10.1029 12.9173 7.47794 15.7058 5.71324C18.5386 3.90441 21.9911 3 26.0633 3Z"
                                                  fill="#2F1343" />
                                        </svg>
                                    </i>
                                    <div>
                                        <h4>Send funds</h4>
                                        <p>Flash money any time any where. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="image" style="background-image: url(~/assets/img/png/background.png)">
            <div class="cover"></div>
        </section>

    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <h4>Product</h4>
                    <ul class="links">
                        <li><a asp-action="FAQ" asp-controller="Home">Frequently Asked Questions</a></li>
                        <li><a href="http://on.fcmb.com/YourAccountIn4Minutes-Website" target="_blank">Open an account</a></li>
                        <li><a href="https://www.fcmb.com/about-us" target="_blank">About Us</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <h4>Legals</h4>
                    <ul class="links">
                        <li><a asp-action="Terms" asp-controller="Home">Terms and Conditions</a></li>
                        <li><a asp-action="Privacy" asp-controller="Home">Privacy Policies</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <h4>Contacts</h4>
                    <ul class="links">
                        <li>
                            <p>Primrose Tower, 17A, Tinubu Street, Marina, Lagos</p>
                        </li>
                        <li><a href="mailto:customerservice@fcmb.com">customerservice@fcmb.com</a></li>
                        <li>
                            <p>
                                <a href="tel:+2349099999814">(+234) 09099999814</a> or <a href="tel:+2349099999815">
                                    (+234)
                                    09099999815
                                </a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="bottom">
                <div class="logo">
                    <img src="~/assets/img/svg/logo-icon.svg" class="mobile-logo" />
                </div>
                <div class="social-links">
                    <a href="https://www.facebook.com/FCMBMyBank/" target="_blank">
                        <i class="icon">
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.3421 0H2.76316C1.23928 0 0 1.23928 0 2.76316V19.3421C0 20.866 1.23928 22.1053 2.76316 22.1053H11.0526V14.5066H8.28947V11.0526H11.0526V8.28947C11.0526 6.0002 12.9081 4.14474 15.1974 4.14474H17.9605V7.59868H16.5789C15.8163 7.59868 15.1974 7.52684 15.1974 8.28947V11.0526H18.6513L17.2697 14.5066H15.1974V22.1053H19.3421C20.866 22.1053 22.1053 20.866 22.1053 19.3421V2.76316C22.1053 1.23928 20.866 0 19.3421 0Z"
                                      fill="url(#paint0_linear)" />
                                <defs>
                                    <linearGradient id="paint0_linear" x1="11.0526" y1="0" x2="11.0526" y2="22.1053"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#4A3292" />
                                        <stop offset="1" stop-color="#AD3193" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </i>
                    </a>
                    <a href="https://www.instagram.com/myfcmb" target="_blank">
                        <i class="icon">
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.1974 0H6.9079C3.09336 0 0 3.09336 0 6.9079V15.1974C0 19.0119 3.09336 22.1053 6.9079 22.1053H15.1974C19.0119 22.1053 22.1053 19.0119 22.1053 15.1974V6.9079C22.1053 3.09336 19.0119 0 15.1974 0ZM20.0329 15.1974C20.0329 17.8638 17.8638 20.0329 15.1974 20.0329H6.9079C4.24145 20.0329 2.07237 17.8638 2.07237 15.1974V6.9079C2.07237 4.24145 4.24145 2.07237 6.9079 2.07237H15.1974C17.8638 2.07237 20.0329 4.24145 20.0329 6.9079V15.1974Z"
                                      fill="url(#paint0_linear)" />
                                <path d="M11.0526 5.52632C8.00072 5.52632 5.52632 8.00072 5.52632 11.0526C5.52632 14.1045 8.00072 16.5789 11.0526 16.5789C14.1045 16.5789 16.5789 14.1045 16.5789 11.0526C16.5789 8.00072 14.1045 5.52632 11.0526 5.52632ZM11.0526 14.5066C9.14882 14.5066 7.59868 12.9564 7.59868 11.0526C7.59868 9.14744 9.14882 7.59868 11.0526 7.59868C12.9564 7.59868 14.5066 9.14744 14.5066 11.0526C14.5066 12.9564 12.9564 14.5066 11.0526 14.5066Z"
                                      fill="url(#paint1_linear)" />
                                <path d="M16.9934 5.84808C17.4001 5.84808 17.7297 5.5184 17.7297 5.11171C17.7297 4.70501 17.4001 4.37533 16.9934 4.37533C16.5867 4.37533 16.257 4.70501 16.257 5.11171C16.257 5.5184 16.5867 5.84808 16.9934 5.84808Z"
                                      fill="url(#paint2_linear)" />
                                <defs>
                                    <linearGradient id="paint0_linear" x1="11.0526" y1="0" x2="11.0526" y2="22.1053"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#4A3292" />
                                        <stop offset="1" stop-color="#AD3193" />
                                    </linearGradient>
                                    <linearGradient id="paint1_linear" x1="11.0526" y1="0" x2="11.0526" y2="22.1053"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#4A3292" />
                                        <stop offset="1" stop-color="#AD3193" />
                                    </linearGradient>
                                    <linearGradient id="paint2_linear" x1="11.0526" y1="0" x2="11.0526" y2="22.1053"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#4A3292" />
                                        <stop offset="1" stop-color="#AD3193" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </i>
                    </a>
                    <a href="https://twitter.com/MyFCMB" target="_blank">
                        <i class="icon">
                            <svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.1053 2.12625C21.2832 2.48684 20.4073 2.72586 19.4941 2.84191C20.4336 2.28099 21.1506 1.39954 21.4877 0.337105C20.6118 0.859342 19.6447 1.22822 18.614 1.43408C17.7823 0.548487 16.5969 0 15.3038 0C12.7948 0 10.7749 2.03645 10.7749 4.53296C10.7749 4.89217 10.8053 5.23757 10.8799 5.56638C7.11237 5.38263 3.77862 3.57691 1.53908 0.826184C1.14809 1.50454 0.91875 2.28099 0.91875 3.11684C0.91875 4.68632 1.72697 6.07757 2.93171 6.88303C2.20362 6.86921 1.48934 6.65783 0.884211 6.32487C0.884211 6.33869 0.884211 6.35664 0.884211 6.37461C0.884211 8.57684 2.45507 10.4061 4.515 10.8274C4.14612 10.9283 3.74408 10.9766 3.32684 10.9766C3.03671 10.9766 2.74382 10.9601 2.46888 10.8993C3.05605 12.6939 4.72224 14.0134 6.70342 14.0562C5.16158 15.2623 3.20388 15.989 1.08454 15.989C0.712895 15.989 0.356447 15.9724 0 15.9268C2.00743 17.2214 4.38651 17.9605 6.95211 17.9605C15.2913 17.9605 19.8505 11.0526 19.8505 5.06487C19.8505 4.86454 19.8436 4.67112 19.8339 4.47908C20.7334 3.84079 21.4891 3.04362 22.1053 2.12625Z"
                                      fill="url(#paint0_linear)" />
                                <defs>
                                    <linearGradient id="paint0_linear" x1="11.0526" y1="0" x2="11.0526" y2="17.9605"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#4A3292" />
                                        <stop offset="1" stop-color="#AD3193" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </i>
                    </a>
                    <a href="https://www.youtube.com/user/fcmbplc" target="_blank">
                        <i class="icon">
                            <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.11037 11.4148L15.0589 7.985L9.11037 4.55521V11.4148ZM22.3472 2.46522C22.4901 3.00106 22.5972 3.72452 22.6688 4.63558C22.7402 5.54665 22.7759 6.34156 22.7759 7.02032L22.8295 7.985C22.8295 10.4859 22.6688 12.3259 22.3472 13.5048C22.0614 14.5409 21.4005 15.2018 20.3643 15.4877C19.8285 15.6306 18.8192 15.7377 17.3365 15.8091C15.8538 15.8806 14.4873 15.9164 13.2369 15.9164L11.4148 15.97C6.62734 15.97 3.64415 15.8091 2.46516 15.4877C1.42907 15.2018 0.768123 14.5409 0.482308 13.5048C0.3394 12.9689 0.232219 12.2455 0.160765 11.3344C0.0893116 10.4233 0.0535847 9.62844 0.0535847 8.94957L0 7.985C0 5.48411 0.160765 3.64415 0.482308 2.46522C0.768123 1.42908 1.42907 0.768158 2.46516 0.482342C3.00106 0.339434 4.01035 0.232311 5.49301 0.160742C6.97568 0.0892885 8.34223 0.0536188 9.59273 0.0536188L11.4148 0C16.2022 0 19.1854 0.160742 20.3643 0.482342C21.4005 0.768158 22.0614 1.42908 22.3472 2.46522Z"
                                      fill="url(#paint0_linear)" />
                                <defs>
                                    <linearGradient id="paint0_linear" x1="11.4148" y1="0" x2="11.4148" y2="15.97"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#4A3292" />
                                        <stop offset="1" stop-color="#AD3193" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </i>
                    </a>
                </div>
            </div>
        </div>
        <div class="stripe">
            <span class="bar x1 dark"></span>
            <span class="bar x2 purple"></span>
            <span class="bar x2 yellow"></span>
            <span class="bar x2 red"></span>
            <span class="bar x1 green"></span>
        </div>
    </footer>


    <script src="~/assets/components/jquery/jquery.min.js"></script>
    <script src="~/assets/components/bootstrap/bootstrap.min.js"></script>
    <script src="~/assets/components/cleave/cleave.min.js"></script>
    <script src="~/assets/js/scripts.min.js"></script>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        $(document).ready(function () {
            //AOS Initialization
            $(function () {
                AOS.init({
                    once: true,
                    mirror: false
                });
            });
        });
    </script>
</body>

</html>