
<div class="card form-card">
    <!-- No Card / Add Card -->
    <div class="form-section wallet-add-card active">
        <div class="head sub">
            <a href="#" class="btn btn-link" id="GoBackWalletButton">
                <i class="icon auto">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 6.61564V8.42502H3.98955L9.49477 13.4055L8.08057 14.6849L0.161133 7.52033L8.08057 0.355713L9.49477 1.63513L3.98955 6.61564H16Z"
                              fill="#5D2684" />
                    </svg>
                </i>
            </a>
            <h4>Fund Wallet</h4>
        </div>
        <form>
            <i class="icon auto">
                <svg width="42" height="38" viewBox="0 0 42 38" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.789062 3.05332L3.23685 0.62207L37.3335 34.7187L34.9022 37.1665L31.0652 33.3293H6.66568C4.54772 33.3293 2.83234 31.616 2.83234 29.496L2.85153 6.49608C2.85153 6.07928 2.9171 5.6782 3.03854 5.30278L0.789062 3.05332ZM37.3324 10.3294V6.49608H13.9899L10.1566 2.66275H37.3324C39.4503 2.66275 41.1657 4.37617 41.1657 6.49608V29.496C41.1657 30.6431 40.6635 31.6712 39.867 32.3731L36.9899 29.496H37.3324V17.996H25.4899L17.8232 10.3294H37.3324ZM6.66568 10.3294H8.06517L6.66568 8.9299V10.3294ZM6.66568 17.9962V29.496H27.2319L15.7319 17.9962H6.66568Z"
                          fill="#FBB700" />
                </svg>
            </i>
            <p>
                You dont have bank card attached to your account yet? <br /><br />
                A Debit/Credit card is needed to fund your wallet
            </p>

            <a class="btn btn-link " asp-action="Index" asp-controller="Card">
                <span>Add New Card</span>
                <i class="icon auto">
                    <svg width="6" height="9" viewBox="0 0 6 9" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 7.93951L3.43952 4.50001L0 1.0605L1.0605 0L5.56052 4.50001L1.0605 9.00001L0 7.93951Z"
                              fill="#5D2684" />
                    </svg>
                </i>
            </a>
        </form>
    </div>
</div>
