
<div class="card form-card">
    <!-- Loading  -->
    <div class="form-section loading">
        <div class="la-ball-pulse">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Success & Error -->
    <div class="form-section alert sub error active">
        <div class="head">
            <h4>Fund Wallet</h4>
        </div>
        <img src="~/assets/img/png/alert-success.png" class="success-img" />
        <img src="~/assets/img/png/alert-error.png" class="error-img" />

        <h3>Wallet Funding Failed!</h3><br /><br />
    
        <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Continue</a>
    </div>

</div>