@model FlashMoney.DTO.TransferStatus
<div class="card form-card">
    <!-- Success & Error -->
    <div class="form-section alert sub success active">
        <div class="head">
            <h4>Setup Transaction PIN</h4>
        </div>
        <img src="~/assets/img/png/alert-success.png" class="success-img" />
        <img src="~/assets/img/png/alert-error.png" class="error-img" />

        <h3>PIN Setup Failed!!</h3>
        <p>@Model?.Message</p>

        <a class="btn btn-primary" asp-action="TransactionPin" asp-controller="Settings">Continue</a>
    </div>
</div>