
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FCMB: Flash Money - Terms & Conditions</title>

    <link rel="shortcut icon" href="./assets/img/png/fav-icon.png" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/assets/components/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/components/loadawesome/loaders.css" />
    <link rel="stylesheet" href="~/assets/components/animate/animate.css" />
    <link rel="stylesheet" href="~/assets/css/style.min.css" />
</head>

<body class="page">
    <header class="animated fadeInDown fast">
        <div class="container">
            <a href="/" class="logo">
                <img src="~/assets/img/svg/logo-full.svg" class="desktop-logo" />
                <img src="~/assets/img/svg/logo-icon.svg" class="mobile-logo" />
            </a>
            <nav class="links dark">
                <ul>
                    <li><a href="faq.html">F.A.Q</a></li>
                    <li>
                        <a href="https://www.fcmb.com/personal-contact-us-page" target="_blank">
                            <i class="icon">
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.4164 6.03232L7.85703 6.60601C7.40452 7.05851 7.12453 7.43601 7.12453 8.37351H5.87452V8.06101C5.87452 7.37101 6.15452 6.74601 6.60702 6.29351L7.3839 5.50726C7.60952 5.28101 7.74953 4.96853 7.74953 4.62354C7.74953 3.93354 7.19015 3.37354 6.49953 3.37354C5.80953 3.37354 5.24951 3.93354 5.24951 4.62354H3.99951C3.99951 3.24292 5.1189 2.12354 6.49953 2.12354C7.88077 2.12354 8.99953 3.24292 8.99953 4.62354C8.99953 5.17354 8.77703 5.67164 8.4164 6.03232ZM7.12453 10.8735H5.87452V9.62351H7.12453V10.8735ZM6.49953 0.248535C3.04765 0.248535 0.249512 3.04665 0.249512 6.49851C0.249512 9.95101 3.04765 12.7485 6.49953 12.7485C9.95203 12.7485 12.7495 9.95101 12.7495 6.49851C12.7495 3.04665 9.95203 0.248535 6.49953 0.248535Z"
                                          fill="white" />
                                </svg>
                            </i>
                            <span>Need Help?</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main terms">
        <section class="intro-heading ">
            <div class="container">
                <h2 class="text-gradient animated fadeInUp delay-1">Our Terms & Conditions</h2>
                <!--<p class="animated fadeInUp delay-2">Lorem ipsum dolor sit amet, consecteturadipiscing</p>-->
            </div>
        </section>
        <section class="content animated fadeInUp delay-2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-9 m-auto">
                        <div class="card">
                            <p>
                                The use of the products and services we offer may result in the processing of personal data.
                                The term “personal data” under data protection law refers to all information relating to a specific
                                or identifiable person. An IP address can also be considered personal data. An IP address is
                                assigned to each device connected to the internet by the internet service provider, so that it can
                                send and receive data. When you use the website, we collect data that you provide yourself. In
                                addition, when you use the website, we automatically collect certain information about your use
                                of it
                            </p>

                            <h4>General information</h4>

                            <p>
                                We process personal data in compliance with the relevant data protection regulations of the
                                GDPR, the DPA (Data Protection Act) and the PECR (Privacy and Electronic Communications
                                Regulations). We will only process data where we are legally permitted to do so. When you use
                                this website, we will process personal data only with your consent, for the performance of a
                                contract to which you are a party, or in order to take steps at your request prior to entering into a
                                contract, for compliance with a legal obligation or if the processing is necessary for the purposes
                                of our legitimate interests or the legitimate interests of a third party, except where such interests
                                are overridden by your interests or fundamental rights and freedoms which require the
                                protection of personal data.
                            </p>

                            <h4>Transmission of data</h4>
                            <p>
                                Unless otherwise stated in the following sections, data will be processed on the servers of
                                technical service providers commissioned by us for this purpose. These service providers will
                                only process the data after having received express instructions and they are contractually
                                obliged to guarantee adequate technical and organizational measures for data protection.
                                Unless otherwise stated in the following sections, data will be processed on the servers of
                                technical service providers commissioned by us for this purpose. These service providers will
                                only process the data after having received express instructions and they are contractually
                                obliged to guarantee adequate technical and organizational measures for data protection.
                            </p>



                            <h4>Visitor tracking</h4>
                            <p>
                                We use Google Analytics to collect standard internet log information and details of visitor
                                behavior on our website. Google Analytics collects information from users such as age, gender,
                                interests, demographics, how often they visit our website, what pages they visit, and what other
                                websites they have used before coming to our website. We use the information we get from
                                Google Analytics to analyze traffic, re-market our services to users, improve our marketing,
                                advertising, and generally improve our website experience. We have enabled Google Analytics
                                advertising features such as re-marketing with Google Analytics, Google Display Network
                                Impression Reporting, and Google Analytics Demographics and Interest Reporting. Google
                                Analytics collects only the IP address assigned
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="animated fadeIn slow">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <h4>Product</h4>
                    <ul class="links">
                        <li><a asp-action="FAQ" asp-controller="Home">Frequently Asked Questions</a></li>
                        <li><a href="http://on.fcmb.com/YourAccountIn4Minutes-Website" target="_blank">Open an account</a></li>
                        <li><a href="https://www.fcmb.com/about-us" target="_blank">About Us</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <h4>Legals</h4>
                    <ul class="links">
                        <li><a asp-action="Terms" asp-controller="Home">Terms and Conditions</a></li>
                        <li><a asp-action="Privacy" asp-controller="Home">Privacy Policies</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <h4>Contacts</h4>
                    <ul class="links">
                        <li>
                            <p>Primrose Tower, 17A, Tinubu Street, Marina, Lagos</p>
                        </li>
                        <li><a href="mailto:customerservice@fcmb.com">customerservice@fcmb.com</a></li>
                        <li>
                            <p>
                                <a href="tel:+2349099999814">(+234) 09099999814</a> or <a href="tel:+2349099999815">
                                    (+234)
                                    09099999815
                                </a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="bottom">
                <div class="logo">
                    <img src="~/assets/img/svg/logo-icon.svg" class="mobile-logo" />
                </div>
                <div class="social-links">
                    <a href="https://www.facebook.com/FCMBMyBank/" target="_blank">
                        <i class="icon">
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.3421 0H2.76316C1.23928 0 0 1.23928 0 2.76316V19.3421C0 20.866 1.23928 22.1053 2.76316 22.1053H11.0526V14.5066H8.28947V11.0526H11.0526V8.28947C11.0526 6.0002 12.9081 4.14474 15.1974 4.14474H17.9605V7.59868H16.5789C15.8163 7.59868 15.1974 7.52684 15.1974 8.28947V11.0526H18.6513L17.2697 14.5066H15.1974V22.1053H19.3421C20.866 22.1053 22.1053 20.866 22.1053 19.3421V2.76316C22.1053 1.23928 20.866 0 19.3421 0Z"
                                      fill="url(#paint0_linear)" />
                                <defs>
                                    <linearGradient id="paint0_linear" x1="11.0526" y1="0" x2="11.0526" y2="22.1053"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#4A3292" />
                                        <stop offset="1" stop-color="#AD3193" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </i>
                    </a>
                    <a href="https://www.instagram.com/myfcmb" target="_blank">
                        <i class="icon">
                            <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.1974 0H6.9079C3.09336 0 0 3.09336 0 6.9079V15.1974C0 19.0119 3.09336 22.1053 6.9079 22.1053H15.1974C19.0119 22.1053 22.1053 19.0119 22.1053 15.1974V6.9079C22.1053 3.09336 19.0119 0 15.1974 0ZM20.0329 15.1974C20.0329 17.8638 17.8638 20.0329 15.1974 20.0329H6.9079C4.24145 20.0329 2.07237 17.8638 2.07237 15.1974V6.9079C2.07237 4.24145 4.24145 2.07237 6.9079 2.07237H15.1974C17.8638 2.07237 20.0329 4.24145 20.0329 6.9079V15.1974Z"
                                      fill="url(#paint0_linear)" />
                                <path d="M11.0526 5.52632C8.00072 5.52632 5.52632 8.00072 5.52632 11.0526C5.52632 14.1045 8.00072 16.5789 11.0526 16.5789C14.1045 16.5789 16.5789 14.1045 16.5789 11.0526C16.5789 8.00072 14.1045 5.52632 11.0526 5.52632ZM11.0526 14.5066C9.14882 14.5066 7.59868 12.9564 7.59868 11.0526C7.59868 9.14744 9.14882 7.59868 11.0526 7.59868C12.9564 7.59868 14.5066 9.14744 14.5066 11.0526C14.5066 12.9564 12.9564 14.5066 11.0526 14.5066Z"
                                      fill="url(#paint1_linear)" />
                                <path d="M16.9934 5.84808C17.4001 5.84808 17.7297 5.5184 17.7297 5.11171C17.7297 4.70501 17.4001 4.37533 16.9934 4.37533C16.5867 4.37533 16.257 4.70501 16.257 5.11171C16.257 5.5184 16.5867 5.84808 16.9934 5.84808Z"
                                      fill="url(#paint2_linear)" />
                                <defs>
                                    <linearGradient id="paint0_linear" x1="11.0526" y1="0" x2="11.0526" y2="22.1053"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#4A3292" />
                                        <stop offset="1" stop-color="#AD3193" />
                                    </linearGradient>
                                    <linearGradient id="paint1_linear" x1="11.0526" y1="0" x2="11.0526" y2="22.1053"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#4A3292" />
                                        <stop offset="1" stop-color="#AD3193" />
                                    </linearGradient>
                                    <linearGradient id="paint2_linear" x1="11.0526" y1="0" x2="11.0526" y2="22.1053"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#4A3292" />
                                        <stop offset="1" stop-color="#AD3193" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </i>
                    </a>
                    <a href="https://twitter.com/MyFCMB" target="_blank">
                        <i class="icon">
                            <svg width="23" height="18" viewBox="0 0 23 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.1053 2.12625C21.2832 2.48684 20.4073 2.72586 19.4941 2.84191C20.4336 2.28099 21.1506 1.39954 21.4877 0.337105C20.6118 0.859342 19.6447 1.22822 18.614 1.43408C17.7823 0.548487 16.5969 0 15.3038 0C12.7948 0 10.7749 2.03645 10.7749 4.53296C10.7749 4.89217 10.8053 5.23757 10.8799 5.56638C7.11237 5.38263 3.77862 3.57691 1.53908 0.826184C1.14809 1.50454 0.91875 2.28099 0.91875 3.11684C0.91875 4.68632 1.72697 6.07757 2.93171 6.88303C2.20362 6.86921 1.48934 6.65783 0.884211 6.32487C0.884211 6.33869 0.884211 6.35664 0.884211 6.37461C0.884211 8.57684 2.45507 10.4061 4.515 10.8274C4.14612 10.9283 3.74408 10.9766 3.32684 10.9766C3.03671 10.9766 2.74382 10.9601 2.46888 10.8993C3.05605 12.6939 4.72224 14.0134 6.70342 14.0562C5.16158 15.2623 3.20388 15.989 1.08454 15.989C0.712895 15.989 0.356447 15.9724 0 15.9268C2.00743 17.2214 4.38651 17.9605 6.95211 17.9605C15.2913 17.9605 19.8505 11.0526 19.8505 5.06487C19.8505 4.86454 19.8436 4.67112 19.8339 4.47908C20.7334 3.84079 21.4891 3.04362 22.1053 2.12625Z"
                                      fill="url(#paint0_linear)" />
                                <defs>
                                    <linearGradient id="paint0_linear" x1="11.0526" y1="0" x2="11.0526" y2="17.9605"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#4A3292" />
                                        <stop offset="1" stop-color="#AD3193" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </i>
                    </a>
                    <a href="https://www.youtube.com/user/fcmbplc" target="_blank">
                        <i class="icon">
                            <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.11037 11.4148L15.0589 7.985L9.11037 4.55521V11.4148ZM22.3472 2.46522C22.4901 3.00106 22.5972 3.72452 22.6688 4.63558C22.7402 5.54665 22.7759 6.34156 22.7759 7.02032L22.8295 7.985C22.8295 10.4859 22.6688 12.3259 22.3472 13.5048C22.0614 14.5409 21.4005 15.2018 20.3643 15.4877C19.8285 15.6306 18.8192 15.7377 17.3365 15.8091C15.8538 15.8806 14.4873 15.9164 13.2369 15.9164L11.4148 15.97C6.62734 15.97 3.64415 15.8091 2.46516 15.4877C1.42907 15.2018 0.768123 14.5409 0.482308 13.5048C0.3394 12.9689 0.232219 12.2455 0.160765 11.3344C0.0893116 10.4233 0.0535847 9.62844 0.0535847 8.94957L0 7.985C0 5.48411 0.160765 3.64415 0.482308 2.46522C0.768123 1.42908 1.42907 0.768158 2.46516 0.482342C3.00106 0.339434 4.01035 0.232311 5.49301 0.160742C6.97568 0.0892885 8.34223 0.0536188 9.59273 0.0536188L11.4148 0C16.2022 0 19.1854 0.160742 20.3643 0.482342C21.4005 0.768158 22.0614 1.42908 22.3472 2.46522Z"
                                      fill="url(#paint0_linear)" />
                                <defs>
                                    <linearGradient id="paint0_linear" x1="11.4148" y1="0" x2="11.4148" y2="15.97"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#4A3292" />
                                        <stop offset="1" stop-color="#AD3193" />
                                    </linearGradient>
                                </defs>
                            </svg>
                        </i>
                    </a>
                </div>
            </div>
        </div>
        <div class="stripe">
            <span class="bar x1 dark"></span>
            <span class="bar x2 purple"></span>
            <span class="bar x2 yellow"></span>
            <span class="bar x2 red"></span>
            <span class="bar x1 green"></span>
        </div>
    </footer>


    <script src="~/assets/components/jquery/jquery.min.js"></script>
    <script src="~/assets/components/bootstrap/bootstrap.min.js"></script>
    <script src="~/assets/js/scripts.min.js"></script>
</body>

</html>
