<div class="form-section loading">
    <div class="la-ball-pulse">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="form-section alert success active">
    <img src="~/assets/img/png/alert-success.png" class="success-img" />
    <img src="~/assets/img/png/alert-error.png" class="error-img" />

    <h3>Password Reset</h3>
    <p>Your password has been reset successfully</p>

    <a class="btn btn-primary" asp-action="SignIn" asp-controller="Auth">Continue</a>

</div>