@model FlashMoney.Models.PasswordChangeViewModel

    <div class="form-section loading">
        <div class="la-ball-pulse">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Reset: New Password -->
    <div class="form-section reset-new-password active">
        <div class="head sub">
            <a asp-action="Reset" asp-controller="Auth" class="btn btn-link form-link" data-link="reset-phone">
                <i class="icon auto">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16 6.61564V8.42502H3.98955L9.49477 13.4055L8.08057 14.6849L0.161133 7.52033L8.08057 0.355713L9.49477 1.63513L3.98955 6.61564H16Z"
                              fill="#5D2684" />
                    </svg>
                </i>
            </a>
            <h4>Reset Password</h4>
        </div>

        <form asp-action="ResetPassword" asp-controller="Auth" method="post">
            <h4 class="text-gradient">Change Password</h4>
            <p>Enter new password for your account</p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Phone" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input asp-for="RCode" class="form-control" type="hidden" />
            </div>
            <div class="input with-icon password-check">
                <input asp-for="NewPassword" placeholder="New Password" />
                <label>New Password</label>
                <a class="toggle active">
                    <i class="icon sm hide">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.5">
                                <path d="M7.39639 5.6343L9.36389 7.60175C9.36577 7.56682 9.37452 7.53425 9.37452 7.49863C9.37452 6.46307 8.53514 5.62365 7.49952 5.62365C7.46389 5.62365 7.43139 5.63239 7.39639 5.6343ZM4.70513 6.12552L5.67201 7.09175C5.64263 7.22307 5.62451 7.35863 5.62451 7.49863C5.62451 8.53425 6.46389 9.37363 7.49952 9.37363C7.64014 9.37363 7.77577 9.35557 7.90639 9.32675L8.87327 10.2931C8.45702 10.4981 7.99452 10.6236 7.49952 10.6236C5.77389 10.6236 4.37451 9.22494 4.37451 7.49863C4.37451 7.00363 4.50013 6.54176 4.70513 6.12552ZM1.24951 2.66929L2.67388 4.09427L2.95827 4.37866C1.92702 5.18615 1.11264 6.25988 0.624512 7.49863C1.70451 10.2418 4.37326 12.1861 7.49952 12.1861C8.46827 12.1861 9.39264 11.9987 10.2395 11.6599L10.5045 11.9243L12.3289 13.7493L13.1245 12.9537L2.04514 1.87427L1.24951 2.66929ZM7.49952 4.37365C9.22514 4.37365 10.6245 5.77304 10.6245 7.49863C10.6245 7.90238 10.542 8.28557 10.4026 8.63988L12.2289 10.4661C13.1714 9.67801 13.917 8.66113 14.3745 7.49863C13.2945 4.75554 10.6264 2.81115 7.49952 2.81115C6.62452 2.81115 5.78763 2.96802 5.00951 3.24741L6.35827 4.59617C6.71264 4.45678 7.09577 4.37365 7.49952 4.37365Z"
                                      fill="#2F1343" />
                            </g>
                        </svg>
                    </i>
                    <i class="icon sm show">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.5">
                                <path d="M7.49999 5.62378C6.46437 5.62378 5.625 6.46314 5.625 7.49876C5.625 8.53439 6.46437 9.37376 7.49999 9.37376C8.53562 9.37376 9.37499 8.53439 9.37499 7.49876C9.37499 6.46314 8.53562 5.62378 7.49999 5.62378ZM7.49999 10.6238C5.77437 10.6238 4.375 9.22439 4.375 7.49876C4.375 5.77316 5.77437 4.37378 7.49999 4.37378C9.22562 4.37378 10.625 5.77316 10.625 7.49876C10.625 9.22439 9.22562 10.6238 7.49999 10.6238ZM7.49999 2.81128C4.37375 2.81128 1.705 4.75567 0.625 7.49876C1.705 10.2419 4.37375 12.1863 7.49999 12.1863C10.6269 12.1863 13.295 10.2419 14.375 7.49876C13.295 4.75567 10.6269 2.81128 7.49999 2.81128Z"
                                      fill="#2F1343" />
                            </g>
                        </svg>
                    </i>
                </a>

                <div class="checker">
                    <a class="item checked">
                        <i class="icon auto">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.2">
                                    <path d="M15.75 5.24987L6.75 14.2499L2.625 10.1249L3.68566 9.06422L6.75 12.1286L14.6894 4.18921L15.75 5.24987Z"
                                          fill="white" />
                                </g>
                            </svg>
                        </i>
                        <span>Minimum of 8 Characters</span>
                    </a>
                    <a class="item checked">
                        <i class="icon auto">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.2">
                                    <path d="M15.75 5.24987L6.75 14.2499L2.625 10.1249L3.68566 9.06422L6.75 12.1286L14.6894 4.18921L15.75 5.24987Z"
                                          fill="white" />
                                </g>
                            </svg>
                        </i>
                        <span>At least one Number</span>
                    </a>
                    <a class="item">
                        <i class="icon auto">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.2">
                                    <path d="M15.75 5.24987L6.75 14.2499L2.625 10.1249L3.68566 9.06422L6.75 12.1286L14.6894 4.18921L15.75 5.24987Z"
                                          fill="white" />
                                </g>
                            </svg>
                        </i>
                        <span>
                            At least one Special Character (#*)
                        </span>
                    </a>
                </div>
            </div>

            <div class="input with-icon password-check">
                <input asp-for="ConfirmPassword" placeholder="Confirm New Password" />
                <label>Confirm New Password</label>
                <a class="toggle active">
                    <i class="icon sm hide">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.5">
                                <path d="M7.39639 5.6343L9.36389 7.60175C9.36577 7.56682 9.37452 7.53425 9.37452 7.49863C9.37452 6.46307 8.53514 5.62365 7.49952 5.62365C7.46389 5.62365 7.43139 5.63239 7.39639 5.6343ZM4.70513 6.12552L5.67201 7.09175C5.64263 7.22307 5.62451 7.35863 5.62451 7.49863C5.62451 8.53425 6.46389 9.37363 7.49952 9.37363C7.64014 9.37363 7.77577 9.35557 7.90639 9.32675L8.87327 10.2931C8.45702 10.4981 7.99452 10.6236 7.49952 10.6236C5.77389 10.6236 4.37451 9.22494 4.37451 7.49863C4.37451 7.00363 4.50013 6.54176 4.70513 6.12552ZM1.24951 2.66929L2.67388 4.09427L2.95827 4.37866C1.92702 5.18615 1.11264 6.25988 0.624512 7.49863C1.70451 10.2418 4.37326 12.1861 7.49952 12.1861C8.46827 12.1861 9.39264 11.9987 10.2395 11.6599L10.5045 11.9243L12.3289 13.7493L13.1245 12.9537L2.04514 1.87427L1.24951 2.66929ZM7.49952 4.37365C9.22514 4.37365 10.6245 5.77304 10.6245 7.49863C10.6245 7.90238 10.542 8.28557 10.4026 8.63988L12.2289 10.4661C13.1714 9.67801 13.917 8.66113 14.3745 7.49863C13.2945 4.75554 10.6264 2.81115 7.49952 2.81115C6.62452 2.81115 5.78763 2.96802 5.00951 3.24741L6.35827 4.59617C6.71264 4.45678 7.09577 4.37365 7.49952 4.37365Z"
                                      fill="#2F1343" />
                            </g>
                        </svg>
                    </i>
                    <i class="icon sm show">
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.5">
                                <path d="M7.49999 5.62378C6.46437 5.62378 5.625 6.46314 5.625 7.49876C5.625 8.53439 6.46437 9.37376 7.49999 9.37376C8.53562 9.37376 9.37499 8.53439 9.37499 7.49876C9.37499 6.46314 8.53562 5.62378 7.49999 5.62378ZM7.49999 10.6238C5.77437 10.6238 4.375 9.22439 4.375 7.49876C4.375 5.77316 5.77437 4.37378 7.49999 4.37378C9.22562 4.37378 10.625 5.77316 10.625 7.49876C10.625 9.22439 9.22562 10.6238 7.49999 10.6238ZM7.49999 2.81128C4.37375 2.81128 1.705 4.75567 0.625 7.49876C1.705 10.2419 4.37375 12.1863 7.49999 12.1863C10.6269 12.1863 13.295 10.2419 14.375 7.49876C13.295 4.75567 10.6269 2.81128 7.49999 2.81128Z"
                                      fill="#2F1343" />
                            </g>
                        </svg>
                    </i>
                </a>

                <div class="checker">
                    <a class="item">
                        <i class="icon auto">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.2">
                                    <path d="M15.75 5.24987L6.75 14.2499L2.625 10.1249L3.68566 9.06422L6.75 12.1286L14.6894 4.18921L15.75 5.24987Z"
                                          fill="white" />
                                </g>
                            </svg>
                        </i>
                        <span>Minimum of 8 Characters</span>
                    </a>
                    <a class="item">
                        <i class="icon auto">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.2">
                                    <path d="M15.75 5.24987L6.75 14.2499L2.625 10.1249L3.68566 9.06422L6.75 12.1286L14.6894 4.18921L15.75 5.24987Z"
                                          fill="white" />
                                </g>
                            </svg>
                        </i>
                        <span>At least one Number</span>
                    </a>
                    <a class="item">
                        <i class="icon auto">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g opacity="0.2">
                                    <path d="M15.75 5.24987L6.75 14.2499L2.625 10.1249L3.68566 9.06422L6.75 12.1286L14.6894 4.18921L15.75 5.24987Z"
                                          fill="white" />
                                </g>
                            </svg>
                        </i>
                        <span>At least one Special Character (#*)</span>
                    </a>
                </div>
            </div>

            <div class="action">
                <button class="btn btn-primary" type="submit" id="ResetButton">Next</button>
            </div>
        </form>
    </div>

