
@model FlashMoney.Models.OTPValidationModel
<!-- Loading  -->
<div class="form-section loading">
    <div class="la-ball-pulse">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="form-section otp-verification active">
    <div class="head sub">

        <h4>PIN Verification</h4>
    </div>
    <form asp-action="VerifyPin" asp-controller="Auth" method="post">
        <h4 class="text-gradient">Verification</h4>
        <p>A <strong>four digit PIN </strong>Enter your Auth PIN below</p>
        <div asp-validation-summary="All" class="text-danger"></div>
        <h6 class="text-danger">@ViewData["LoginState"]</h6>
        <div class="input">
            <input asp-for="Phone" placeholder="Phone Number" type="hidden" />
        </div>

        <div class="input-pin x4">
            <input asp-for="One" type="text" placeholder="*" autocomplete=“off”/>
            <input asp-for="Two" type="text" placeholder="*" autocomplete=“off”/>
            <input asp-for="Three" type="text" placeholder="*" autocomplete=“off”/>
            <input asp-for="Four" type="text" placeholder="*" autocomplete=“off”/>
        </div>
        <div class="action">
            <button class="btn btn-primary" type="submit" id="VerifyPinButton">Next</button>
        </div>
    </form>
</div>
