
@{
    ViewData["Title"] = "PasswordResetSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-section alert success active">
    <img src="~/assets/img/png/alert-success.png" class="success-img" />
    <img src="~/assets/img/png/alert-error.png" class="error-img" />

    <h3>Password Reset</h3>
    <p>Your password has been reset successfully</p>

    <form asp-action="SignIn" asp-controller="Auth" method="get">
        <button class="btn btn-primary" type="submit">Continue</button>
    </form>
   
</div>

